  
@font-face { 
  font-family: 'LatoBlack'; 
  src: url('../singolo/assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: 'LatoBold'; 
  src: url('../singolo/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@font-face { 
  font-family: 'LatoLight'; 
  src: url('../singolo/assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@font-face { 
  font-family: 'LatoRegular'; 
  src: url('../singolo/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
