@import '../singolo/fonts.css';

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
  font-family: 'LatoBold'; 
}

.indent {
  padding: 0 40px 0 40px;
}

.logo__header {
  margin: 30.5px 0 29.5px 0;
}

.logo::after {
  content: "*";
  color: #F06C64;
}

.logo {
  text-transform: uppercase;
  font-size: 24.3px;
  color: #ffffff;
}

.header__navigation {
  width: 372px;
  margin: 42.5px 0 32.5px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 11.6px;
}

.navigation__link{
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

.navigation__link:hover {
  color: #F06C64;
}

.active_link {
  color: #F06C64;
}

.navigation__link::after {
  position: relative;
  left: 13px;
  bottom: 3.5px;
  content: ".";
  color: #494E62;
}

.slider {
  position: relative;
  background-color: #F06C64;
  height: 600px;
  border-bottom: 15pz solid #EA676B;
}

.left__arrow {
  position: absolute;
  top: 281px
}

.right__arrow {
  position: absolute;
  right: 40px;
  top: 281px
}


.phone {
  position: relative;
}

.vertical {
  position: absolute;
  left: 72px;
  top: 53px;
}


.horizontal {
  position: absolute;
  top: 174px;
  left: 384px;
}

.phone_index {
  z-index: 5;
}

.clip__vertical {
  position: absolute;
  top: 118px;
  left: 85.5px;
  width: 189px;
  height: 333px;
  background: url("../singolo/assets/img/Layer\ 6.png") no-repeat;
  background-size: auto auto;
  background-position: -15px -135px;
  z-index: 10;
}

.clip__horizontal {
  position: absolute;
  top: 187px;
  right: 162px;
  background: url("../singolo/assets/img/Layer\ 5.png") no-repeat;
  height: 189px;
  width: 334px;
  background-size: auto auto;
  background-position: -122px -120px;
  z-index: 10;
}

.services {
  background-color: #F2F2F2;
  padding-top: 60px;
  padding-bottom: 31.5px;
  border-bottom: 6px solid #ffffff;
}

.title_size_m{
  margin-bottom: 18px;
  font-size: 30px;
}

.text_size_m {
  line-height: 30px;
  font-size: 18px;
}

.title_size_s {
  font-size: 17.77px;
}

.text_size_s {
  font-size: 12px;
  line-height: 22px;
}

.title { 
  font-family: 'LatoBlack';
  color: #666D89;
}

.text {
  font-family: 'LatoLight'; 
  color: #767E9E;
}

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  margin: 42px 1px 0 1px;
}

.block__advantages {
  width: 299px;
  margin-bottom: 30px;
}

.block__description {
  margin-left:  79.6px;
}

.block__title {
  margin-bottom: 8px;
}

.block__text {
  text-align: justify;
  padding-right: 0;
}

.block__icon {
  position: absolute;
  margin-top: 4px;
  margin-left: -2px;
  width: 55px;
  height: 55px;
  border: 2px solid #666D89;
  border-radius: 50%;
}

.icon__pen {
  position: relative;
  top: 12px;
  left: 13px;
}

.icon__phone {
  position: relative;
  top: 12px;
  left: 17px;
}

.icon__bulb {
  position: relative;
  top: 12px;
  left: 17px;
}

.icon_heart {
  position: relative;
  top: 14px;
  left: 12px;
}

.icon__bubble {
  position: relative;
  top: 14px;
  left: 12px;
}

.icon__star {
  position: relative;
  top: 12px;
  left: 12px;
}